{% extends 'base.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}
    <h1>Student</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ student.info }}</td>
            </tr>
            <tr>
                <th>Course</th>
                <td>{{ student.course }}</td>
            </tr>
            <tr>
                <th>Type_of_course</th>
                <td>{{ student.typeOfCourse }}</td>
            </tr>
            <tr>
                <th>Semester</th>
                <td>{{ student.semester }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_student_index') }}">back to list</a>

    <a href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>

    {{ include('student/_delete_form.html.twig') }}
{% endblock %}
